<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <span *ngIf="update">There is an update for your app!</span>

  <div class="header">
    <a href="/"><img src="https://assets.chucknorris.host/img/avatar/chuck-norris.png" alt="Chuck Norris" title="Click, for next Chuck Norris joke"></a>
    
    <div class="refresh">
      <img src="https://static.thenounproject.com/png/1566879-200.png" alt="arrow">
      <p>Click, for next <br> Chuck Norris joke</p>
    </div>
  </div>

  <h1 class="title">
    {{ title }}!
  </h1>

  <p *ngIf="joke" class="joke">{{ joke.value }}</p>

</div>

